@page "/alunos"
@inject HttpClient http;
<h3>Alunos</h3>

<br />

@if (Alunos == null)
{
    <img src="~/images/" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Alunos)
	        {
                <tr>
                    <td>@item.AlunoId</td>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                </tr>	 
	        }
        </tbody>
    </table>
}

@code {

    public IEnumerable<Aluno> Alunos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await GetAlunos();
    }

    protected async Task GetAlunos()
    {
        Alunos = await http.GetFromJsonAsync<IEnumerable<Aluno>>($"api/alunos");
    }

}
